/* Style description for icon */

$icon-small-container-size: 24px;
$icon-small-size: 18px;

.mat-icon-button.small {
  width: $icon-small-container-size;
  height: $icon-small-container-size;
  line-height: $icon-small-container-size;

  .mat-icon, .mat-icon-button i {
    line-height: $icon-small-size;
  }

  .mat-icon {
    width: $icon-small-size;
    height: $icon-small-size;
  }

  .material-icons {
    font-size: $icon-small-size;
  }
}

/* Style description for dialog header                */
/* Remove the margin, otherwise the header and the    */
/* close-icon are not on same height                  */
h2 {
  margin:0px;
}
/* provide a litte margin between buttons             */
button {
  margin-left:10px;
}