/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
   
    margin:20px;
    overflow: auto;
  }
  
 .example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    font-size: 14px;
    display: flex;
    margin-left:20px;
    margin-top:10px;
}

[hidden] {
    display: none;
 }
